/* Place CSS styles here */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Clarity City", sans-serif;
    background-color: #f0f8ff;
}

@media (max-width: 480px) {
    body {
        font-size: 110%;
    }
}

img {
    width: 100%;
    height: auto;
}

.outer-most-div {
    min-height: 100vh;
}

.saline-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    gap: 20px;
}

@media (max-width: 480px) {
    .saline-container {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1100px) {
    .saline-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}


.hero {
    background-image: url(../img/night-sky.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

@media (max-width: 480px) {
    .hero {
        padding-top: 0;
        padding-bottom: 20px;
    }
}

.hero-title {
    font-size: 40px;
    text-shadow: 1px 1px 7px white;
}

.intro-image {
    max-width: 300px;
}

main {
    margin: 0 auto;
    max-width: 1000px;
}

@media (max-width: 480px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1100px) {
    main {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.centered {
    text-align: center;
}


.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-content a,
.featured-content-item a,
.order-now-link,
.form-submit-button,
.thank-you-link {
    margin-top: auto;
    align-self: flex-start;
    background-color: #A5D6A7;
    color: #111111;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.5rem;
    text-decoration: none;

    &:hover {
        background-color: #81C784;
    }
}

.hero-title-word {
    text-transform: uppercase;
}

.hero-title-letter {
    filter: drop-shadow(2px 4px 6px black);
}

.hero-image {
    max-width: 400px;
}

@media (max-width: 480px) {
    .hero-image {
        max-width: 300px;
    }
}

@media (min-width: 800px) {
    .hero-image {
        width: 400px; /* I gave up */
    }
}

.hero-disclosure {
    font-size: 2px;
}

form {
    background-color: #d3d3d3;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 12px;
    margin-bottom: 40px;
}

.form-element {
    margin-bottom: 16px;
}

.form-element label {
    display: block;
    margin-bottom: 4px;
}

.form-element input,
.form-element textarea {
    display: block;
    width: 100%;
}

.after-submission {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    background: red;
    right: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.after-submission.show {
    display: flex;
}

.control-me::after {
    content: "😃";
    font-size: 100px;
}
#toggle:checked ~ .control-me::after {
    content: "😩";
}

.chlabel {
    background: #A5D6A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 12px;
}

.visually-hidden {
    position: absolute;
    left: -100vw;

    /* Note, you may want to position the checkbox over top the label and set the opacity to zero instead. It can be better for accessibilty on some touch devices for discoverability. */
}

.featured-content-items {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}


@media (max-width: 768px) {
    .featured-content-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .featured-content-items {
        grid-template-columns: repeat(1, 1fr);
    }
}

.featured-content-item {
    text-align: center;
}

.order-now-link {
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-flex;
}

.promo {
    /* if you need a background image */
    background-image: url(../img/shot-drink-at-bar-close-up-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.image-gallery {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
